@charset "UTF-8";
/* CSS Document */

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.main-head {

    text-align: center;
    padding: 20px;
}

.questions{
height: 350px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.buttons{
    height: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}

#button_yes{
    border:0;
}

a{
    border:0;
}

h1 {
    font-family: verdana;
    font-size: 24px;
    text-align: center
}

p {
    font-family: verdana;
    font-size: 16px;
    text-align: center
}

p #title {
    font-size: 24px;
}
